.about-container {
  min-height: 38rem;
  position: relative;
  padding: 5rem;
  padding-top: 2rem;

  &__details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 6rem);
    position: relative;
    left: 3rem;
    border: 0.25rem solid var( --support-color);
    border-radius: 0.5rem;
    padding: 2rem;
    min-height: 25rem;
    gap: 0.5rem;
    transition: var(--transition);

    &:hover {
      background-color: var(--dark-hover-color);
    }

    &-name {
      font-size: 2rem;
      margin-bottom: 0.5rem;
      margin-top: 0;
    }

    &-basic {
      font-size: 1rem;
      margin: 0;
      text-align: justify;
    }
  }

  &__contact-btn {
    text-decoration: none;
    color: var(--text-color);
    display: flex;
    gap: 1rem;
    padding: 1rem 2rem;
    border: 0.25rem solid var( --support-color);
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    align-items: center;
    transform: scale(1);
    transition: var(--transition);
    background-color: transparent;
    cursor: pointer;
  }

  &__directors {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;

    &-list {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 2.5rem;
      flex-wrap: wrap;

      &-item {
        border: 0.25rem solid var( --support-color);
        border-radius: 0.5rem;
        padding: 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        width: calc(50% - 2rem);
        flex-wrap: wrap;

        &:hover {
          .about-container__directors-list-item-showcase, .about-container__directors-list-item-details-name {
            transform: scale(1.05);
          }
        }

        &-showcase {
          width: 10rem;
          height: 10rem;
          overflow: hidden;
          background-color: var(--secondary-bg-color);
          border-radius: 0.5rem;

          img {
            width: 100%;
            height: 100%;
          }
        }

        &-details {
          width: calc(100% - 13rem);
          min-width: min(100%, 20rem);
          text-align: center;
          position: relative;

          &-name {
            margin-top: 0;
            font-size: 2rem;
            margin-bottom: 0.75rem;
          }

          &-desg {
            font-size: 1.5rem;
            display: block;
          }

          &-work {
            width: 100%;
            word-break: break-word;
          }
        }
      }
    }
  }
}

/* ================ Media Qurerries Medium ======================== */

@media screen and (max-width: 1024px) {
  
}

/* ================ Media Qurerries Small ======================== */

@media screen and (max-width: $mdWidth) {
  .about-container {
    padding: 1rem;

    &__profile {
      left: 50%;
      top: -9rem;
      transform: translate(-50%, 0%);
    }

    &__details {
      left: 0;
      width: 100%;

      &-name {
        margin-top: 5.5rem;
      }

      &-basic {
        padding: 0.25rem;
      }
    }

    &__directors {
      &-list {
        flex-direction: column;
        width: 100%;

        &-item {
          flex-direction: column;
          width: 100%;
          align-items: center;
          text-align: center;

          &-showcase {
            width: 10rem;
          }
        }
      }
    }
  }
}