/**
 * Main SCSS Styles
 * 
 * @description Main stylesheet with global styles and component styles
 * @author Krishna Devashish
 * @email krishnadevashish17@gmail.com
 * @github https://github.com/KrishnaDs007
 */

@import './global';


* {
  transition: var(--transition);
}

.container {
  padding: 1rem;
  min-height: 60vh;
  width: 100%;
  color: var(--text-color);
  background-image: url('../assets/img/bgSvg.svg');
  background-color: var(--bg-color);
  background-blend-mode: soft-light;

  &__header {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin: 0 0 2rem 0;
    padding-top: 2.5rem;
    text-shadow: 2px 2px #cccc;
    cursor: default;
  }

  &__sub-header {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin: -3rem 0 3rem 0;
    padding-top: 2.5rem;
    cursor: default;
  }
}

@import '../componentes/Header/header';
@import '../pages/Home/home';
@import '../pages/About/about';
@import '../pages/Services/services';
@import '../pages/Contact/contact';
@import '../componentes/Footer/footer';
